/*styling here*/

#main{
	overflow-x: hidden;
	 overflow-y: hidden; 
	 height: 100%;
	 width: 100%;
	 position: absolute;
	 background-color: black;
	 background-image: url('http://www.wallpapermade.com/images/wallpapers/originals/amazing-nature-scenery-wallpaper-5431.jpg');
  	 background-size: cover;
	 z-index: -2;
}

    #dateDiv{
        margin-top: 50px;
        font-size: 50px;
        font-family: Arial Black, Gadget, sans-serif;
    }
    #timeDiv{
        margin-top: 10px;
        font-size: 40px;
        color: white;
        font-family: Century Gothic, sans-serif;
    }
	#buttonQuote {
		margin-top: 30px;
		padding: 10px;
        -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    }
    .container.drop-shadow {
        padding-left:0;
        padding-right:0;
    }
    #quoteDiv{
    	font-size: 20px;
    	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    	color: white;
    }
    #tweet{
    	position: relative;
    	top:10px;
        color: #4099FF;
    }